.card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 14px;
  width: 220px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 4px;
  font-size: 16px;
  color: #181311;
  font-weight: 600;
}

.card p {
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.card button {
  background: #ff6347;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}
